################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/leetcode/bin/Debug/netcoreapp3.1
/leetcode/obj
/.vs/leetcode
/.vs
